<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{record.name | title}} view page</title>
</head>
<body>
<p><button><a href="/fcvApp/list">list</a></button></p>
<h1><u>{{record.name}} Company Name is : </h1></u>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consequuntur cupiditate, error exercitationem facilis iste minima molestias necessitatibus nostrum officia omnis perferendis placeat quo rerum velit vero! Commodi, nulla!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consequuntur cupiditate, error exercitationem facilis iste minima molestias necessitatibus nostrum officia omnis perferendis placeat quo rerum velit vero! Commodi, nulla!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consequuntur cupiditate, error exercitationem facilis iste minima molestias necessitatibus nostrum officia omnis perferendis placeat quo rerum velit vero! Commodi, nulla!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consequuntur cupiditate, error exercitationem facilis iste minima molestias necessitatibus nostrum officia omnis perferendis placeat quo rerum velit vero! Commodi, nulla!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consequuntur cupiditate, error exercitationem facilis iste minima molestias necessitatibus nostrum officia omnis perferendis placeat quo rerum velit vero! Commodi, nulla!</p>




</body>
</html>