<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Views </title>
</head>
<body>
<h1>Details Views from Class based views</h1>
<h1>{{employee.name}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquid amet, aperiam at atque autem beatae deleniti expedita ipsum labore molestiae nam necessitatibus neque placeat similique voluptates! Doloremque, minus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquid amet, aperiam at atque autem beatae deleniti expedita ipsum labore molestiae nam necessitatibus neque placeat similique voluptates! Doloremque, minus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquid amet, aperiam at atque autem beatae deleniti expedita ipsum labore molestiae nam necessitatibus neque placeat similique voluptates! Doloremque, minus.</p>

</body>
</html>